<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuaMeter Atlas</title>   
    </head>
    <body>
    <h1>Welcome to the QuameterAtlas</h1>
        <!-- Upload form. Note enctype attribute! -->
<!--
        <form action="{% url index %}" method="post" enctype="multipart/form-data">
-->
        <form action="/index/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!--The file path arg-->
            <p>{{ form.filepath.label_tag}}</p>
            <p>{{ form.filepath }}</p>

            <p>{{ form.instrument.label_tag}}</p>
            <p>{{ form.instrument }}</p>

            <p>{{ form.database.label_tag}}</p>
            <p>{{ form.database }}</p>

            <p><input type="submit" value="Start" /></p>
        </form>
    </body>
</html> 
